<?xml version="1.0" encoding="utf-8" ?>
<!--
	NUnit config file, 
	Lars Behrmann, lb@opendocument4all.com
-->
<configuration>
	<appSettings>
		<!-- if you change this folder name (files)
			 you also have to modify the Postbuild event -->
		<add key="readfiles" value="files" />
		<add key="writefiles" value="generatedfiles" />
	</appSettings>
</configuration>
